/*
 * BUTTON
*/
button {
    padding: 0.5rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    border: 0;
    cursor: pointer;
}
/* Primary */
button.primary {
    background-color: var(--primary-color);
    color: var(--text-color-primary-inverted);
}
button.primary:hover {
    background-color: var(--secondary-color);
}
/* Secondary */
button.secondary {
    background-color: var(--primary-color);
    color: var(--primary-color);
}
button.secondary:hover {
    background-color: var(--secondary-color);
}
/* Destructive */
button.destructive {
    background-color: var(--destructive-color);
    color: rgb(255, 255, 255);
}
button.destructive:hover {
    background-color: var(--destructive-color-secondary);
}
/* Outline */
button.outline {
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--primary-color);
}
button.outline:hover {
    background-color: var(--border-color);
}
